<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- CSS ============================================================== -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">

  </head>
  <body>
    <div id="container">
      <div id="header">

        <div class="grav" id="lgrav">
          <img src="https://s.gravatar.com/avatar/0694d753f7e2b3839c9d4dce5feff668?s=80"/>
        </div>
        <div id="title"><h1>{{ title }}</h1></div>
        <div class="grav" id="rgrav">
          <img src="https://s.gravatar.com/avatar/0f0a2a863234b72a801c689bf4bec6c0?s=80"/>
        </div>

      </div>
      <div id="content">
        <div id="lcol">
          <h2>Writing</h2>
          <br>tech blog
          <br>opinion blog
          <br>...
          <br>&nbsp;
        </div>
        <div id="rcol">
          <h2>Projects</h2>
          <br>protoduction
          <br>sausage factory
          <br><a href="/jach" target="_blank">Javascript, CSS, and HTML (JaCH) Doo-dads</a>
          <br>...
          <br>&nbsp;
        </div>
      </div>

      <div id="tools">
        <div>[github]</div>
        <div>[travis]</div>
        <div>[bitbucket]</div>
        <div>...</div>
      </div>
    </div>
</body>
</html>
