<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>tusculum</title>
  </head>
  <body>
    <h1>HTML, CSS, and Javascript Doo-Dads</h1>
    <ul>
      <li><a target="_blank" href="cal-p-lb">
          Calories per Pound
        </a>
      <li><a target="_blank" href="compounding">
          Compounding Interest
        </a>
      <li><a target="_blank" href="wandro">
          wandro - A scrolling, random wikipedia viewer
        </a>
      <li><a target="_blank" href="calendar">
          Gregorian Calendar Mental Hack
        </a>
      <li><a target="_blank" href="mental_hygiene">
          Mental Hygiene
        </a>
    </ul>
  </body>
</html>
