<!DOCTYPE html5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Javascript ======================================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jslife.js') }}"></script>

  </head>
  <body>
    <!-- <center><h1>{{ title }}</h1></center> -->

    <div id="controls">
      <select id="starts" onchange="apply_start()"></select>
      <!-- <button id="restart" onclick="restart_click()">Start --
        -- Over</button> -->
      <button id="step" onclick="step_click()">Step</button>
      <button id="stopgo" onclick="stopgo_click()">Run</button>
      <button id="clear" onclick="clear_click()">Clear</button>
      Interval:
      <input id="interval" value="100" onfocusout="interval_set()"/>
      <button id="sclabel"
              onmouseover="sc_mouseover()"
              onmouseout="sc_mouseout()"
              onclick="sc_click()">Steps:</button>
      <input id="stepcount" type="text" value="0"/>
      <input id="rxc" type="text"/>
      <p>
    </div>
    <div id='grid-container'>
      <table id='grid' border=1 width='100%'>
      </table>
    </div>

  </body>
</html>


