<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

  </head>
  <body>
    <h1>{{ title }}</h1>

    <p>Practices
      <ul>
        <li>The Work (Byron Katie Mitchell)
        <li>Laurel Mellin
          <ul>
            <li>The Pathway (six questions)
            <li>Wired for Joy (five strategies)
          </ul>
        <li>gratitude journaling
        <li>journaling
        <li>meditation
          <ul>
            <li>mantra
            <li>relaxation response (Benson)
            <li>breath counting
          </ul>
        <li>random acts of kindness
      </ul>
  </body>

