<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickleball Scoring Tutor</title>
    <!-- Javascript ======================================================== -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    -->
    <script src="{{ url_for('static', filename='js/pbscore.js') }} "></script>
    <style>
      canvas {
        width: 880;
        border: 1px solid black;
        pad-left: 20;
      }
    </style>
  </head>

  <body>
    <h1>Pickleball Scoring Tutor</h1>
    <p>This page will help you learn to keep track of scoring in the game
      of pickleball.

    <div class="g-container">
      <center>
        <canvas class="g-item" id="pbCourt" width="880" height="400"></canvas>
        <br>
        <output class="g-item" id="west_cheer"></output>
        <output class="g-item" id="east_cheer"></output>
        <br>
        Score: <input class="g-item" id="ab_score"></input>
        <input class="g-item" id="cd_score"></input>
        <br>
        Server: <input class="g-item" id="server"></input>
        <input class="g-item" id="servnum"></input>
        <p>
        <textarea class="g-item" id="message" cols="80" rows="5"></textarea>
        <br>
        <button class="g-item" onclick="rally('West')">West wins rally</button>
        <button class="g-item" onclick="rally('random')">Random rally</button>
        <button class="g-item" onclick="rally('East')">East wins rally</button>
        <br><button class="g-item" onclick="restartGame()">Restart</button>
      </center>

    </div>
  </body>
</html>
