<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">
  </head>
  <body>
    <div class="centext">
      <h2>Projects</h2>
      <br><a href="/useful" target="_blank">Useful Thoughts</a>
      <br><a href="https://github.com/tbarron/tusculum/#python-anywhere-home-page"
             target="_blank">
        source for tusculum.pythonanywhere.com
        </a>
      <br><a href="/jach" target="_blank">
        Javascript, CSS, and HTML (JaCH) Doo-dads
      </a>
      <br><a href="https://github.com/tbarron/backscratcher/blob/master/README.md"
             target="_blank">
        backscratcher
      </a>
      <br><a href="https://github.com/tbarron/evernote-helpers/blob/master/README"
             target="_blank">
        evernote-helpers</a>
      <br><a href="https://github.com/tbarron/tbx#toolbox-library-in-python"
             target="_blank">tbx - utility toolbox (Python)</a>
          <br>em - environment manager for *nix shells
          <br>calorease - cal / lb calculator
          <br>editor - Python library for file manipulation
          <br>nldt - natural language dates and time
          <br>errata - Copyedit the internet!
          <br>PyBP (deprecated)
          <br>tbarron.github.io
          <br>emacs_goodies
          <br>envy
          <br>gitr
          <br>spackle
          <br>githooks
          <br>fns
          <br>lisp tutorial
    </div>
  </body>
</html>
