<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">
  </head>
  <body>
    <div class="centext">
          <h2>Projects</h2>
          <br>protoduction
          <br>sausage factory
          <br><a href="/jach" target="_blank">Javascript, CSS, and HTML (JaCH) Doo-dads</a>
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>&nbsp;
    </div>
  </body>
</html>
