<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">
  </head>
  <body>
    <div class="centext">
      <h2>Projects</h2>
      <br><a href="/useful/thoughts" target="_blank">Useful Thoughts</a>
      <br><a href="https://github.com/tbarron/tusculum/#python-anywhere-home-page"
             target="_blank">
        source for tusculum.pythonanywhere.com
        </a>
      <br><a href="/jach" target="_blank">
        Javascript, CSS, and HTML (JaCH) Doo-dads
      </a>
      <br><a href="https://github.com/tbarron/backscratcher/blob/master/README.md"
             target="_blank">
        backscratcher
      </a>
      <br><a href="https://github.com/tbarron/tbx#toolbox-library-in-python"
             target="_blank">tbx - utility toolbox (Python)</a>
      <br><a href="https://github.com/tbarron/em"
             target="_blank">em - environment manager for *nix shells</a>
      <br><a href="http://tusculum.pythonanywhere.com/widget/cal-p-lb"
             target="_blank">calorease - cal / lb calculator</a>
      <!-- <br><a href="widget/cal-p-lb"
             target="_blank">calorease - cal / lb calculator</a>

             I want to figure out how to get the base site url (either
             'http://localhost:5000/' or
             'http://tusculum.pythonanywhere.com/') into this URL but there
             doesn't seem to be any way to run this HTML through flask's
             render() function.
             -->
      <br><a href="https://github.com/tbarron/editor"
             target="_blank">editor - Python library for file manipulation</a>
      <br><a href="https://github.com/tbarron/nldt"
             target="_blank">nldt - natural language dates and time</a>
      <br><a href="https://github.com/tbarron/emacs_goodies"
             target="_blank">emacs_goodies</a>
      <br><a href="https://github.com/tbarron/envy"
             target="_blank">envy</a>
          <br>gitr
          <br>spackle
          <br>githooks
          <br>fns
          <br>lisp tutorial
          <br>errata - Copyedit the internet!
          <br>PyBP (deprecated)
          <br>tbarron.github.io
    </div>
  </body>
</html>
