<!DOCTYPE html5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Javascript ======================================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/sierpinski.js') }}"></script>

  </head>
  <body>
    <!-- <center><h1>{{ title }}</h1></center> -->

    <div id="controls">

      Corners: <input id="corners" value="3" size="3">
      <button id="reset" onclick="reset_canvas()">Reset</button>
      cdiv h, w: <input id="gchw" size="7"/>
      canvas h, w: <input id="cvhw" size="7"/>
      ctrl h, w: <input id="cthw" size="7"/>
      <!--
      <select id="starts" onchange="apply_start()"></select>
      <button id="step" onclick="step_click()">Step</button>
      <button id="stopgo" onclick="stopgo_click()">Run</button>
      Interval:
      <input id="interval" value="100" onfocusout="interval_set()"/>
      <button id="sclabel"
              onmouseover="sc_mouseover()"
              onmouseout="sc_mouseout()"
              onclick="sc_click()">Steps:</button>
      <input id="stepcount" type="text" value="0"/>
      <input id="rxc" onclick="rxc_click()" type="text"/>
      <p>
      -->
    </div>
    <div id='cdiv'>
      <canvas id='fld'>
        this is what you see if canvas is not supported
      </canvas>
    </div>

  </body>
</html>
