<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/markdown.css') }}">
  </head>
  <body>
    <header>
      <div id="prev">
        <a href="/techblog/{{ prev }}"> <- {{ prev }}</a>
      </div>
      <div id="up">
        <a href="/techblog/front">front</a>
      </div>
      <div id="next">
        <a href="/techblog/{{ next }}">{{ next }} -> </a>
      </div>
      <div id="title"><center><h1> {{ title }} </h1></center></div>
    </header>
    <p>
    {{ html }}
  </body>
</html>
