<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/useful.css') }}">
  </head>
  <body>
    <div class="centext">
      <h1>{{ title }}</h1>
      <br><a href="/useful/thoughts">&lt; back to thoughts</a>
    </div>

    <div id="about">
      <p>Here's the thinking behind this "Useful Thoughts" thingy:
      <ul>

        <li>Quality of life is a function of moment-to-moment feelings. A
          good mood makes for an enjoyable life. A chronic bad mood makes
          for a life of dreary bleakness.

        <li><p>Feelings are conditioned by beliefs. If I believe a rope seen
          in twilight is a snake, I will feel afraid. Believing it to be a
          harmless rope, I feel no fear of it.

        <li><p>Beliefs are established and supported by moment-to-moment
          thinking.

        <li><p><i>Useful</i> thoughts are those that help us feel good,
          pursue our aspirations, live out our values, and enjoy our lives.

        <li><p>Thoughts that drag us down, make us feel bad, or otherwise
          impede our enjoyment of life without offering some value (lessons
          learned, restraint when we want to lash out in anger, acceptance
          in the face of frustration, etc.) are not useful.

        <li><p>Only you can decide which thoughts are useful for you.

        <li><p>A thought that is useful today may not be useful tomorrow. A
          thought that was not useful last week may turn out to be useful
          today.

        <li><p>Because of evolutionary survival pressures, our brains are
          wired with a negativity bias. As a consequence, some of us may
          need to make an effort at least some of the time to focus on the
          positive in our day-to-day routine so that life can be enjoyable.

        <li><p>This database is a place to find and suggest useful
          thoughts. Suggested thoughts will be vetted before being added to
          the database.

        <li><p>Each time you refresh the main page, you'll be presented
          with half a dozen thoughts randomly selected from the database
          that someone has found useful. There may be some repetition, but
          that's okay since thoughts are repetitive by nature. You may not
          find all the thoughts personally useful. Take what's useful to
          you and pass the rest by.

          <p>For most of us, our brain's habit is to effortlessly generate
          a constant stream of negative thoughts. Visiting
          useful-thoughts.org can help balance the brain's negative
          tendency with a dose of positive thinking.

      </ul>
    </div>
  </body>
</html>
