<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/index.css') }}">
  </head>
  <body>
    <div class="centext">
          <h2>Writing</h2>
          <br>tech blog
          <br>opinion blog
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>...
          <br>&nbsp;
    </div>
  </body>
</html>
