body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    flex-flow: column;
    text-align: center;
}

header {
    display: flex;
    border-bottom: solid black 3px;
}

.grav {
    align-self: auto;
}

.gravimg {
    border-radius: 5px;
}

#title {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-evenly;
#content {
    display: flex;
    flex: 2;
    overflow: scroll;
}

    line-height: 2em;
    border: solid black 1px;
.tool {
    flex-grow: 1;
}
