body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centext {
    text-align: center;
}

.container {
    height: 98vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 85px auto 30px;
    justify-items: stretch;
    align-items: stretch;
}

.lgrav {
    grid-column: 1 / 2;
}

.title {
    grid-column: 2 / -2;
}

.h1 {
    text-align: center;
}

.rgrav {
    grid-column: -2 / -1;
    justify-self: right;
}

.writing {
    grid-column: 1 / 7;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.projects {
    grid-column: -7 / -1;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

.github {
    grid-column: 1 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.travis {
    grid-column: 4 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.bitbucket {
    grid-column: 7 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.commit {
    grid-column: 10 / span 3;
    justify-self: stretch;
    //border: solid black 1px;
}

.panel {
    height: 100%;
    width: 100%;
}

.tiny {
    font-size: small;
    justify-self: right;
}
